URxvt.font:                     9x15,xft:DejaVu Sans Mono:autohint=true:size=12
!URxvt.boldFont:                 9x15,xft:DejaVu Sans Mono:autohint=true:bold:size=12
!URxvt.italicFont:               9x15,xft:DejaVu Sans Mono:autohint=true:italic:size=12
!URxvt.boldItalicFont:           9x15,xft:DejaVu Sans Mono:autohint=true:bold:italic:size=12


!- Font Render
Xft.dpi:96
Xft.antialiasing:false
Xft.rgba:rgb
Xft.hinting:true
Xft.lcdfilter:lcddefault

*.cursorColor: #ebac54

URxvt.foreground:           #c0b18b
URxvt.background:           #2F2F2F

URxvt.borderColor:          #2F2F2F
URxvt.borderless:          true
URxvt.internalBorder: 5

URxvt.colorBD:              #ffffff
URxvt.colorIT:              #a761c2
URxvt.colorUL:              #6d9cbe
URxvt.underlineColor:       #333333
URxvt.highlightColor:       #ebac54
URxvt.highlightTextColor:   #151515

URxvt.scrollstyle:plain
URxvt.scrollBar:false
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:true

URxvt.cursorColor:          #ebac54
URxvt.cursorColor2:         #ebac54
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.depth:24

!- Perl Extension
URxvt.perl-ext-common:default,matcher,url-select,clipboard
URxvt.url-launcher: ch  romium-browser
URxvt.matcher.button:1

!- Copy/paste
URxvt.iso14755: False
URxvt.keysym.Shift-Alt-C: perl:clipboard:copy
URxvt.keysym.Shift-Alt-V: perl:clipboard:paste

URxvt.underlineURLs:true
URxvt.transparent:false
URxvt.shading:30
URxvt.geometry:72x24

!-Urgent Terminal for Notification
URxvt*urgentOnBell: true

    URxvt*visualBell:   false

!- Color Scheme
! Black
*color0:      #202020
*color8:      #606060
! Red
*color1:      #ff6565
*color9:      #ff8d8d
! Green
*color2:      #93d44f
*color10:     #c8e7a8
! Yellow
*color3:      #eab93d
*color11:     #ffc123
! Blue
*color4:      #204a87
*color12:     #3465a4
! Mangenta
*color5:      #ce5c00
*color13:     #f57900
! Cyan 
*color6:      #89b6e2
*color14:     #46a4ff
! White
*color7:      #cccccc
*color15:     #ffffff
